@media screen and (max-width: 480px){

    body{
        font-family: 'Inter', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 430px;
        height: 932px;
        width: 430px;
        height: 932px;
        flex-shrink: 0;
        background: url(images-favoris/bg-Favoris.png);
    }



}