
@media screen and (max-width: 390px){

body{
    font-family: 'Inter', sans-serif;
    background: url(images/Background.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
    width: 390px;
    height: 932px;
    align-content: center;
}

h2{
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.6306rem;
    color: #540505;
    -webkit-text-stroke : 1px #000000;
    margin: 0;
    margin-top: 124px;
    margin-left: 147px;
}

h3{
    color: #540505;
    font-size: 8rem;
    -webkit-text-stroke : 1px #000000;
    font-weight: 600;
    margin-left: 6.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

h4{
    display: flex;
    width: 307px;
    height: 74px;
    flex-direction: column;
    flex-shrink: 0;
    color: #870D0D;
    text-align: center;
    text-shadow: 0.5rem 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 2.5rem;
    margin-left: 3.875rem;
}

#orage{
    margin-top: 0.8125rem;
    margin-left: 8.0625rem;
}


#flash{
    width: 348px;
    height: 169px;
    display: flex;
    flex-direction: column;
    margin-top: 4.8575rem;
    margin-left: 20px;
    border-radius: 1.6875rem;
    background: rgba(217, 217, 217, 0.30);  
}

#temps{
    flex-direction: row;
}

span{
    color: #540505;
    text-align: center;
    font-size: 1.75rem;
    font-family: Inter;
    font-weight: 600;
    margin: 0;
}

p{
    color: #540505;
    text-align: center;
    font-size: 1.25rem;
    font-family: Inter;
    font-weight: 600;
    margin: 0;
}

#icone-warning{
    margin-top: 2.3125rem;
    margin-left: 1.3125rem;
}

/*----------ACCORDEON---------*/

button{
    width: 100px;
    height: 20px;
    border-radius: 1.25rem;
    background: #460B0B;
    margin-left: 150px;
    margin-top: 0.875rem;
    cursor: pointer;
}

.bouton{
    width: 390px;
    height: 297px;
    background-color: #D9D9D94D;
    margin-top: 3.9375rem;
    border-radius: 1.0625rem 1.0625rem 0rem 0rem;
    
}

.day{
    width: 62.35px;
    height: 164.76px;
    background-color: #C6AF90;
    border-radius: 1.8125rem;
    display: flex;
    flex-direction: column;
}

#day{
    width: 56px;
    height: 17px;
    color: #540505;
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 1.3125rem;
    margin-left: 0.1875rem;
}


#eclair{
    margin-top: 1.25rem;
    margin-left: 0.5569rem;

}

.temperature{
    color: #540505;
    font-size: 1.5rem;
    font-weight: 600;
}

#prevision{
    margin-top: 1.375rem;
    transition: 0.5s;
  
}

#forecast{
    width: 100%;
    height: 167px;
    display:flex;
    column-gap: 0.9281rem;
    overflow: scroll;
}

.active{
   display: flex; 
   flex-direction: column;
   position: relative;
    
}

.noactive{
    position: relative;
    display: none;
}

#footer-menu{
    display: flex;
    position: relative;
    column-gap: 6.9375rem;
    margin-left: 2.375rem;
    margin-top: 0.5rem;
}

}